/* index.css */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 900px;
    margin: 20px auto 0 auto;
    border: 8px solid black;
    border-radius: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#logo_background {
    background-color: #000;
}

/* nav styles */
nav#main_Menu {
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 180px;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #000;
    background-color: #FD3003;
    text-align: center;
}

.submenu ul li {
    border-top: 1px solid #FFF;
    background-color: #FD3003;
    display: none;
}

ul#main_links li:last-child {
    border-right-width: 0;
    width: 176px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: .7em;
}

nav ul li a:hover {
    padding: 2px 1px;
    background-color: #A6A4A3;
    color: #000;
}

h1 {
    margin: 1.5em 0 .5em;
}

p {
    margin: 0 .2em .7em 0;
}

div#logo {
    padding: 5px 0 0 5px;
}

article {
  float: left;
  width: 63%;
  margin-left: 1em;
}

div#image {
  float: left;
  width: 33%;
  margin: 20px 0 10px;
  text-align: center;
}

footer {
  clear: left;
  width: 100%;
  height: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 25px;
  background-color: #FD3003;
  color: #fff;
  
  font-weight: bold;
  font-size: .9em;
}
footer ul {
    list-style: none;
}
footer li {
    float: left;
}
footer li:nth-child(1) {
    width: 600px;
    text-align: center;
}
footer li:nth-child(2) {
    width: 150px;
}
